---
---
@import "{{ site.theme }}";

/* Background & Teks Utama */
body {
  background-color: #F2E0CF;
  color: #2D2D23;
}

/* Warna Judul / Heading */
h1, h2, h3, h4, h5, h6 {
  color: #854628;
}

/* Warna Link */
a {
  color: #B48954;
  text-decoration: none;
}
a:hover {
  color: #854628;
  text-decoration: underline;
}

/* Kotak DNF/DNI (Blockquote) */
blockquote {
  background-color: #D4C7B4;
  border-left: 4px solid #7C7458;
  color: #2D2D23;
  padding: 10px 15px;
  border-radius: 4px;
}

/* Garis Tabel & Code Block */
table th, table td {
  border-bottom: 1px solid #7C7458;
}
pre, code {
  background-color: #D4C7B4;
  color: #2D2D23;
}
